body {
  min-height: 100%; 
  height: 100%;
}

.wrapper {
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  letter-spacing: -.4em;

}
.box1 {
  background-color: #ffff00;
  width: 600px;
  height: 150px;
}
.box2 {
  background-color: #33ffff;
  width: 200px;
  height: 150px;
  float: left;
}
.box3 {
  background-color: #ff0000;
  width: 200px;
  height: 150px;
  display: inline-block;
}
.box4 {
  background-color: #0000FF;
  width: 200px;
  height: 150px;
  display: inline-block;
}
.box5 {
  background-color: #00ff00;
  width: 450px;
  height: 150px;
  display: inline-block;
}
.box6 {
  background-color: #ff00ff;
  width: 150px;
  height: 150px;
  display: inline-block;
}
.box7 {
  background-color: #33ffff;
  width: 600px;
  height: 150px;
  display: inline-block;
}

p {
  margin: 0 0 ;
}