/*small screen*/
@media screen and (max-width: 479px) {
.wrapper {
    float: none;
    width: 200px;
}
.header {
    width: 200px;
    height: 200px;
}
.box_frame {
    width: 60px;
    height: 160px;
    position: relative;
    top: 20px;
    right: 70px; /*leftだとなぜか壊れる*/
}
.box {
    float: none;
    margin: 10px 10px 10px;
}
.left {
    float: none;
    width: 200px;
    height: 100px;
}
.right {
    float: none;
    width: 200px;
    height: 200px;
}
.rect_frame {
    width: 160px;
    position: relative;
    top: 10px;
    right: 30px;
    left: 30px;
}
.rect {
    margin: 0 0 10px 0 ;
}
.footer {
    width: 200px;
}
}
