/* common */
/*large screen*/
body {
    width: 100%;
    min-height: 100%;
}
.clearfix::after { 
    content: ''; 
    display: block; 
    clear: both;
}
.wrapper {
    width: 400px;
    height: 450px;
    margin: 0 auto;
}
.header {
    background-color: #141f40;
    width: 400px;
    height: 100px;
}
.contents { 
    width: 100%;
    min-height: 100%;
}
.left {
    background-color: #80bfa8;
    float: left;
    width: 150px;
    height: 250px;
}

.right {
    background-color: #ff9e6b;
    float: right;
    width: 100px;
    height: 150px;
}
.right_up_center {
    background-color: #dbd400;
    float: right;
    width: 150px;
    height: 50px;
}
.right_down_center {
    background-color: #0093b7;
    float: right;
    width: 150px;
    height: 100px;
}

.right_bottom {
    background-color: #8c2727;
    float: right;
    width: 250px;
    height: 100px;
}


.footer {
    background-color: #d98d30;
    width: 400px;
    height: 100px;
}
* {
    margin: 0;
    padding: 0;
}
/*floatはrightかleftのみ指定できる

/*medium screen*/
@media (max-width: 767px) {
    .wrapper {
        width:300px;
    }
    .right {
        width: 75px;
    }
    .lift {
        width: 100px;
    }
    .right_up_center, .right_down_center {
        width: 125px;
    }
    .right_bottom {
        width: 200px;
    }
    }
    
    /*small screen*/
    @media (max-width: 479px) {
    .wrapper {
        width:150px;
    }
    .left, .right, .right_up_center, .right_down_center, .right_bottom {
        float: none;
        width: 150px;
    }
    }